body{
    background: antiquewhite;
}

#logo{
    width: 200px;  
}
#Hline{
    width: 500px;
}

#MainDiv{
    height: 100%;
    text-align: center; 
}
.paddbot{
    padding-bottom: 10px;
}
input{
    width: 20%;
}
.confirmMessage{
    padding-left: 10px;
    
}