*{
   font-family: sans-serif,Verdana, Geneva, Tahoma;
   font-size: 10pt;
   font-variant:small-caps;
}

body{
    background: antiquewhite;
}
#logo{
    width: 200px;  
    
}
#Hline{
    width: 500px;
}
#MainDiv{
    height: 100%;
    text-align: center; 
    
}




